* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #0D1117;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #010409;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  width: 80vw;
  height: 90vh;
  padding: 10px;
  color: #c5c5c5;
  border-radius: 2px;
}

.processes {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}